@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}

button {
  border: none;
}
button:hover {
  filter: opacity(0.8);
  cursor: pointer;
}

.header {
  width: 90%;
  margin: 0 auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
  z-index: 99;
  position: fixed;
  top: 0;
  background: white;
  padding-bottom: 1%;
}
.header__container--logo--tittle {
  color: #000;
  font-size: 30px;
}
.header__container--menu {
  position: absolute;
  left: 80%;
}
.header__container--categories {
  display: flex;
  -moz-column-gap: 25%;
       column-gap: 25%;
}
.header__container--category a {
  font-size: 18px;
  color: #000;
}
.header__container--category:hover .header__container--link {
  text-decoration: underline;
}
.header__container--home {
  text-decoration: underline;
}
.header__container--mobile {
  font-size: 18px;
  display: none;
}
.header__container--link {
  color: #000;
}

#scroal__top .bring {
  padding-bottom: 20%;
}
#scroal__top .bring__container {
  margin-top: 20%;
}
#scroal__top .bring__container--logo {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
#scroal__top .bring__container--logo h3 {
  color: #e6382a;
  font-size: 64px;
}
#scroal__top .bring__container--button {
  text-align: center;
  padding-top: 3%;
}
#scroal__top .bring__container--button button {
  width: 12vw;
  height: 9vh;
  background-color: #111111;
  color: white;
  font-size: 18px;
  border: none;
}
#scroal__top .backround--top {
  background-image: url(../img/Гараж.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
}
#scroal__top .About__logo {
  text-align: center;
  padding-top: 10%;
}
#scroal__top .About__logo h3 {
  color: #e6382a;
  font-size: 48px;
  font-weight: 400;
}
#scroal__top .About__word {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 3vw;
  padding-top: 5%;
  font-size: 18px;
}
#scroal__top .About__iframe {
  width: 60%;
  margin: 0 auto;
  padding-top: 4%;
}
#scroal__top .About__iframe--tittle {
  width: 100%;
}

#scroal__center .menu {
  margin-top: 10%;
}
#scroal__center .menu__container {
  text-align: center;
  color: white;
  font-size: 56px;
  padding-top: 10%;
  line-height: 8vw;
  padding-bottom: 10%;
  background-color: #e6382a;
}
#scroal__center .background__button {
  background-image: url(../img/Гараж__2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
}
#scroal__center .projects__logo {
  text-align: center;
  padding-top: 10%;
  font-size: 48px;
  color: #e6382a;
}
#scroal__center .projects__logo--tittle {
  font-weight: 400;
}
#scroal__center .projects__word {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 5%;
}
#scroal__center .projects__word--tittle {
  font-size: 18px;
  line-height: 3vw;
}
#scroal__center .projects__cards--categories {
  display: flex;
  -moz-column-gap: 2%;
       column-gap: 2%;
  width: 95%;
  margin: 0 auto;
  padding-top: 10%;
}
#scroal__center .projects__cards--category img {
  width: 100%;
}
#scroal__center .projects__cards--category img:hover {
  cursor: zoom-in;
}
#scroal__center .projects__button {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}
#scroal__center .projects__button--tittle {
  width: 15vw;
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 100%;
}

.button__container {
  background-color: #e6382a;
  padding-bottom: 10%;
}
.button__container--tittle {
  display: grid;
  font-size: 56px;
  color: white;
  padding-top: 15%;
  width: 70%;
  margin: 0 auto;
}
.button__container--help {
  width: 70%;
  margin: 0 auto;
  padding-top: 4%;
}
.button__container--help span {
  color: white;
}

.footer__container {
  background-color: #111111;
  padding-top: 10%;
  text-align: center;
  padding-bottom: 5%;
}
.footer__container--word {
  color: white;
  font-size: 48px;
}
.footer__container--button {
  padding-top: 5%;
  padding-bottom: 10%;
}
.footer__container--button button {
  height: 10vh;
  width: 13vw;
  background-color: #E6382A;
  color: white;
  font-size: 100%;
}
.footer__container--categories {
  display: flex;
  -moz-column-gap: 9%;
       column-gap: 9%;
  justify-content: center;
}
.footer__container--link {
  color: white;
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  .header__container--menu {
    display: none;
  }
  .header__container--mobile {
    display: inline;
    font-size: 6vw !important;
  }
  .backround--top {
    height: 45vh !important;
  }
  .background__button {
    height: 45vh !important;
  }
  .header__container {
    display: flex;
    justify-content: space-around;
    -moz-column-gap: 35vw;
         column-gap: 35vw;
  }
  .header__container--logo--tittle {
    font-size: 6vw !important;
  }
  .bring__container--word {
    padding-top: 10% !important;
    font-size: 9vw !important;
  }
  .bring__container--button {
    padding-top: 15% !important;
  }
  .bring__container--button button {
    width: 35vw !important;
    height: 7vh !important;
    font-size: 5vw !important;
  }
  .About__logo h3 {
    font-size: 9vw !important;
  }
  .About__word {
    font-size: 5vw !important;
    line-height: 5vw !important;
    width: 90% !important;
    margin: 0 auto !important;
  }
  .menu__container {
    font-size: 7vw !important;
    line-height: 10vw !important;
  }
  .projects__logo {
    font-size: 9vw !important;
  }
  .projects__word--tittle {
    font-size: 5vw !important;
    line-height: 7vw !important;
  }
  .projects__cards {
    width: 70%;
    margin: 0 auto;
    padding: 10% 0;
  }
  .projects__cards--categories {
    display: grid !important;
    row-gap: 1% !important;
  }
  .projects__button--tittle {
    width: 30vw !important;
    font-size: 2.7vw !important;
    height: 8vh !important;
  }
  .button__container--tittle {
    font-size: 5vw !important;
  }
  .button__container--help {
    font-size: 3vw;
    padding-top: 9vw;
  }
  .footer__container--word {
    font-size: 6vw !important;
  }
  .footer__container--button button {
    width: 30vw !important;
    font-size: 2.8vw !important;
    height: 7vh;
  }
  .footer__container--link {
    font-size: 5vw !important;
  }
}
@media screen and (max-width: 775px) {
  .header__container--menu {
    display: none;
  }
  .header__container--mobile {
    display: inline;
    font-size: 6vw !important;
  }
  .backround--top {
    height: 45vh !important;
  }
  .background__button {
    height: 45vh !important;
  }
  .header__container {
    display: flex;
    justify-content: space-around;
    -moz-column-gap: 35vw;
         column-gap: 35vw;
  }
  .header__container--logo--tittle {
    font-size: 6vw !important;
  }
  .bring__container--word {
    padding-top: 10% !important;
    font-size: 9vw !important;
  }
  .bring__container--button {
    padding-top: 15% !important;
  }
  .bring__container--button button {
    width: 35vw !important;
    height: 7vh !important;
    font-size: 5vw !important;
  }
  .About__logo h3 {
    font-size: 9vw !important;
  }
  .About__word {
    font-size: 5vw !important;
    line-height: 5vw !important;
    width: 90% !important;
    margin: 0 auto !important;
  }
  .menu__container {
    font-size: 7vw !important;
    line-height: 10vw !important;
  }
  .projects__logo {
    font-size: 9vw !important;
  }
  .projects__word--tittle {
    font-size: 5vw !important;
    line-height: 7vw !important;
  }
  .projects__cards {
    width: 70%;
    margin: 0 auto;
    padding: 10% 0;
  }
  .projects__cards--categories {
    display: grid !important;
    row-gap: 1% !important;
  }
  .projects__button--tittle {
    width: 30vw !important;
    font-size: 2.7vw !important;
    height: 8vh !important;
  }
  .button__container--tittle {
    font-size: 5vw !important;
  }
  .button__container--help {
    font-size: 3vw;
    padding-top: 9vw;
  }
  .footer__container--word {
    font-size: 6vw !important;
  }
  .footer__container--button button {
    width: 30vw !important;
    font-size: 2.8vw !important;
    height: 7vh;
  }
  .footer__container--link {
    font-size: 5vw !important;
  }
}/*# sourceMappingURL=oakland.css.map */